body {
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
}
h1 {
    color: #D04F4F;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    background-color: #E7E7E7 !important;
    border: none;
    margin-top: 5px;
    box-shadow: none !important;
}
input:focus {
    outline-width: 0;
}
#form1 {
    height: 75px;
}
#form1::placeholder {
    color: grey;
}
.btn {
    border: none !important;
    box-shadow: none !important;
}
.btn-info {
    margin-top: 5px;
    background-color: #E7E7E7 !important;
}
.fa-search {
    color: black;
    font-size: 20px;
}
.fa-chevron-down {
    margin-left: 35px;
}
.fa-chevron-up {
    color: white;
    float: right;
}
.fa-chevron-up:hover {
    cursor: pointer;
}
.btn-filter {
    margin-top: 20px;
    margin-right: 20px;
    height: 75px;
}
.btn-success {
    background-color: #68D9A4 !important;
}
.btn-primary {
    background-color: #3282F7 !important;
}
.btn-danger {
    background-color: #ED6454 !important;
}
#ingredients-input {
    border: none;
    background-color: #3282F7;
    margin-bottom: 10px;
    color: white;
}
#ingredients-input::placeholder {
    color: white;
    opacity: 0.50;
    font-weight:lighter;
}
#appareils-input {
    border: none;
    background-color: #68D9A4;
    margin-bottom: 10px;
    color: white;
}
#appareils-input::placeholder {
    color: white;
    opacity: 0.50;
    font-weight:lighter;
}
#ustensils-input {
    border: none;
    background-color: #D04F4F;
    margin-bottom: 10px;
    color: white;
}
#ustensils-input::placeholder {
    color: white;
    opacity: 0.50;
    font-weight:lighter;
}
.dropdown {
    margin-right: 20px;
    margin-top: 20px;
    padding: 1.3rem 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    font-size: 1rem;
    max-width: 650px;
    height: max-content;
    font-family: 'Roboto', sans-serif;
}
#filters-menu {
    position: absolute;
    z-index: 2;
}
.options {
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    
}
.ingredient {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.appliance {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ustensil {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.options a {
    color: white;
    text-decoration: none;
}
.options a:hover {
    font-weight: bold;
    color: black;
    cursor: pointer;
}
ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.col-4 {
    padding: 20px;
}
.ingredients-list {
    width: 50%;
}
.search-bar {
    padding-left: 30px;
    padding-right: 30px;
}
.filters {
    padding-left: 30px;
    padding-right: 30px;
}
#ingredients {
    display: none;
    background-color: #3282F7;
}
#ustensiles {
    display: none;
    background-color: #D04F4F;

}
#appareils {
    display: none;
    background-color: #68D9A4 ;
}
.container-fluid {
    width: 90%;
}
#error-message {
    width: 100%;
    justify-self: center;
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    font-weight: bold;
    display: none;
}
.cards {
    padding-top: 120px;
}
.card {
    margin-top: 20px;
    height: 450px;
    font-size: 0.80em;
}
.card-img-top {
    height: 45%;
}
.card-body {
    background-color: #E7E7E7;
}
.card-ingredient {
    display: inline;
    font-weight: bold;
}
.card-ustensils {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.card-appliance {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.title-time {
    margin-bottom: 10px;
}
.card-title {
    width: 75%;
    font-weight: normal;
}
.card-time {
    font-weight: bold;
    font-size: 1.2em;
}
.recipe {
    text-overflow: ellipsis;
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
#tags-section {
    margin-top: 20px;
}

.suppression-tag {
    margin-left: 15px;
}
.tag {
    display: block;
    border: none !important;
    box-shadow: none !important;
    height: 40px;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media all and (max-width: 620px) {
    #main-js {
        margin-top: 100px;
    }
}

@media all and (max-width: 395px) {
    #main-js {
        margin-top: 180px;
    }
}